html, body {
    padding: 0px;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

table.listing {
    thead {
        tr {
            border: 0px solid black;
            border-bottom-width: 2px;;

            th {
                padding: 2px 4px 4px 4px;
                text-align: left;
                font-weight: bold;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: left;
                padding: 2px 4px;
            }

        }

        tr:nth-child(even) {
            background-color: #ccc;
        }
    }   
}

.el-form {
    .el-form-item {
        .el-form-item__label { min-width: 200px; }
    }

    .statuslistcredential {
        position: relative;

        .statuslistblock {
            padding-left: 40px;
        }

        .addicon {
            position: absolute;
            right: 10px;
            bottom: -22px;
        }
    }

    .display, .credentials {
        position: relative;

        label.display {
            text-align: right;
            min-width: 200px; 
            font-weight: 700;
            display: inline-block;
            line-height: 2rem;
        }

        .addicon {
            position: absolute;
            right: 10px;
            bottom: -22px;
        }
    }
}